/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/.env
/.env.*.php
Homestead.json
Homestead.yaml
/.vagrant/
/.phpunit.result.cache
/.idea/
/.vscode/
/*.log
/*.sql
/*.sqlite
/storage/*.log
/storage/*.cache
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.backup
.env.local
.env.development
.env.production
.env.testing
.env.*.local
.phpunit.result.cache
npm-debug.log
yarn-error.log